In [1]:
import pandas as pd

In [2]:
interactions = pd.read_csv('user_interaction.csv')
meta = pd.read_csv('metadata.csv')

In [3]:
interactions

,user_id,pratilipi_id,read_percent,updated_at
0,5506791961876448,1377786228262109,100.0,2022-03-22 10:29:57.291
1,5506791971543560,1377786223038206,40.0,2022-03-19 13:49:25.660
2,5506791996468218,1377786227025240,100.0,2022-03-21 17:28:47.288
3,5506791978752866,1377786222398208,65.0,2022-03-21 07:39:25.183
4,5506791978962946,1377786228157051,100.0,2022-03-22 17:32:44.777
...,...,...,...,...
2499995,5506791965506371,1377786228243175,100.0,2022-03-19 04:37:10.568
2499996,5506791966125995,1377786221431279,100.0,2022-03-21 17:24:46.089
2499997,5506791964496442,1377786226829597,100.0,2022-03-22 08:04:29.219
2499998,5506791968781083,1377786226056467,100.0,2022-03-21 06:41:54.083
2499999,5506791956021363,1377786226666757,100.0,2022-03-20 08:59:49.346

In [4]:
meta

,author_id,pratilipi_id,category_name,reading_time,updated_at,published_at
0,-3418949279741297,1025741862639304,translation,0,2020-08-19 15:26:13,2016-09-30 10:37:04
1,-2270332351871840,1377786215601277,translation,171,2021-01-21 16:27:07,2018-06-11 13:17:48
2,-2270332352037261,1377786215601962,translation,92,2020-09-29 12:33:57,2018-06-12 04:19:12
3,-2270332352521845,1377786215640994,translation,0,2019-10-17 09:03:37,2019-09-26 14:58:53
4,-2270332349665658,1377786215931338,translation,47,2020-05-05 11:33:41,2018-11-25 12:28:23
...,...,...,...,...,...,...
954496,-2270332337845247,1377786228358627,Horror-Marathon,304,2022-03-22 17:40:22,2022-03-22 17:40:22
954497,-2270332334263077,1377786228362002,Horror-Marathon,588,2022-03-22 11:44:39,2022-03-22 11:44:39
954498,-2270332350350076,1377786228362682,Horror-Marathon,359,2022-03-22 12:39:41,2022-03-22 12:38:40
954499,-2270332337845247,1377786228375726,Horror-Marathon,310,2022-03-23 15:55:11,2022-03-23 15:55:11
954500,-2270332334263077,1377786228376825,Horror-Marathon,534,2022-03-23 10:52:43,2022-03-23 10:52:42